.footerContainer {
  display: flex;
  background: #545776;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: white;
  position: fixed; // para que el header quede fijo
  bottom: 0; // para que el footer quede fijo
  width: 100%;
  height: 5vh;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.svg-inline--fa.fa-w-16,
.svg-inline--fa.fa-w-14 {
  width: 25px;
  height: 25px;
}
